* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Board {
  display: flex;
  height: 100vh;
  position: relative;
  overflow-x: visible;
  padding: 20px;
  font-family:Arial, Helvetica, sans-serif
}

.addNewList button {
  width: 250px;
  height: 30px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  color: gray;
}

.addList {
  width: fit-content;
  height: 30px;
  border: 2px solid blue;
  margin-bottom: 5px;
  font-family: inherit;
  padding-left: 5px;
}

.listTitle {
  font-size: 2rem;
}

#close {
  font-size: 1.8rem;
}